<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="assets/icon/footer/glasses_logo_color.svg"></ion-icon>
      <ion-label>Nina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icon/footer/logo_sugarbus.svg"></ion-icon>
      <ion-label>Playground</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="assets/icon/footer/light-bulb.svg"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
