<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="toolbar-wrapper">
        <div class="left-toolbar">
          <ion-icon class="back-arrow" name="arrow-back-outline"></ion-icon>
          Playground
        </div>
        <div class="right-toolbar">
          <ion-button class="playground-info" color="light" (click)="infoPressed()">
            <ion-icon style="height:20px;width:20px;"name="alert-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title size="large">Playground</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="chart-wrapper">
      <canvas baseChart height="90%" width="100%" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
  </ion-content>

  <ion-content class="inputs-wrapper">
    <div class="slider-wrapper">
      <div class="slider-pair">
        <div class="slider-label">
          <ion-label>Kohlenhydrate</ion-label>
        </div>
        <div class="slider">
          <mat-slider #slidertop thumbLabel [(ngModel)]="carbohydrateSlider" (change)="refreshData()"
            [displayWith]="formatLabel1" tickInterval="1" step="10" min="0" max="100" aria-label="units">
          </mat-slider>
        </div>
      </div>

      <div class="slider-pair">
        <div class="slider-label">
          <ion-label>Units</ion-label>
        </div>
        <div class="slider">
          <mat-slider #slidermiddle (change)="refreshData()" thumbLabel [(ngModel)]="unitsSlider"
            [displayWith]="formatLabel2" tickInterval="1" step="10" min="0" max="100" aria-label="units">
          </mat-slider>
        </div>
      </div>
         
      <div class="slider-pair">
        <div class="slider-label">
          <ion-label>Bewegung in Stunden pro Tag</ion-label>
        </div>
        <div class="slider">
          <mat-slider #sliderbottom (change)="refreshData()" thumbLabel [(ngModel)]="dailyActivity"
            [displayWith]="formatLabel3" tickInterval="1" step="0.25" min="0" max="5" aria-label="units">
          </mat-slider>
        </div>
      </div>    
    </div>
  </ion-content>
</ion-content>