.top-area {
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.avatar-area {
    width: 50%;
    height: 100%;
    float: left;
    justify-content: center;
    display: flex;
}

.avatar-frame-outer {
    display: block;
    left: 0;
    right: 0;
    background-color: var(--ion-color-secondary);
    margin: 3%;
    padding: 3%;
    border-radius: 3px;
}

.avatar-frame-inner {
    height: 100%;
    background-color: var(--sugarly-color-background-comfortable);
    border-radius: inherit;
    display: flex;
    align-items: center;
}

.avatar-picture {
    width: 100%;
}

.ask-area {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ask-button {
    background-color: var(--ion-color-primary);
    color: var(--sugarly-color-text);
    position: relative;
    overflow: hidden;
    white-space: normal;
    margin-right: 10%;
    width: 90%;
}

.bottom-area {
    width: 100%;
    height: 41%;
    bottom: 8%;
    left: 0;
    position:absolute;
}

.wrapper-accordion {
    margin: 2%;
    width: 96%;
    height: 96%;
    position:absolute;
    border-radius: 5px;
    background-color: var(--sugarly-color-background-comfortable); 
}

.faq-accordion {
    height: 94%;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

.faq-title {
    width: 100%;
    display: inline-block;
    color: var(--sugarly-color-text);
}

.faq-question {
    float:left;
    text-align: left;
    font-size: 5.1vw;
    font-weight: bold;
}

.faq-content-indicator {
    float: right;
}

.faq-content {
    font-size: 4vw;
    color: var(--sugarly-color-text);
}