<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="toolbar-wrapper">
        <div class="left-toolbar">
          <ion-icon class="back-arrow" name="arrow-back-outline"></ion-icon>
        Sugarly
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="toolbar-wrapper">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title size="large">Sugarly</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="top-area">
    <div class="avatar-area">
      <div class="avatar-frame-outer">
        <div class="avatar-frame-inner">
          <img class="avatar-picture" [src]="activeAvatar.getImageSmile()" (click)="changeAvatar()">
        </div>
      </div>
    </div>

    <div class="ask-area">
        <ion-button (click)="askQuestion()" class="ion-activatable ripple-parent ask-button adjustable-button">
          <p>Hast du eine Frage für mich?</p>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>
    </div>
  </div>

  <div class="bottom-area">
    <div class="wrapper-accordion">
      <ion-card class="faq-accordion">
        <ion-card (click)="expandQuestion(question)" *ngFor="let question of questions">
          <ion-card-header>
            <div class="faq-title">
              <ion-card-title class="faq-question">{{question.heading}}</ion-card-title>
              <ion-icon class="faq-content-indicator" *ngIf="!question.expanded" name="chevron-forward-outline"></ion-icon>
              <ion-icon class="faq-content-indicator" *ngIf="question.expanded" name="chevron-down-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
            <app-faq expandHeight="200px" [expanded]="question.expanded">
              <p class="faq-content">{{question.content}}</p>
            </app-faq>
          </ion-card-content>
        </ion-card>
      </ion-card>
    </div>
  </div>
</ion-content>
