<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wrapper-question">
<app-tab3-question></app-tab3-question>
</div>
<div class="wrapper-score">
<app-tab3-score></app-tab3-score>
</div>
<div class="wrapper-answer">
  <app-tab3-answer></app-tab3-answer>
  </div>
</ion-content>