.content {
    overflow: hidden;
}

.quiz-background {
    background-color: var(--ion-color-primary);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tableLayout {
    width: 100%;
    border-collapse: collapse;
    box-shadow: black;
    border: 1px, solid, black !important;
}

.tableLayout th, td {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: left;
}

.buttonLayout {
    width: 100%;
    background-color: var(--ion-color-primary);
    font-size:xx-large;
    padding: 10px;
    border-radius: 10px;
}

.centeredImage {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.wrapper-main {
    display: relative;
    width: 100%;
    height: 100%;
}

.wrapper-score {
    position: absolute;
    background-color: #ffffff;
    color: black;
    width: 94%;
    left: 50%;
    margin-left: -47%;
    margin-top: 5%;
    height: auto;
}

.startButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -47%;
    width: 94%;
}

.wrapper-question {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overflow-quizoptions {
    overflow: hidden;
    position: absolute;
    height: 93%;
    width: 100%;
    top: 0;
}

.wrapper-quizoptions {
    background-color: var(--sugarly-color-background-comfortable);
    border-radius: 80px 80px 10px 10px;
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: -15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.imageButton {
    border-color: transparent;
    background-color: transparent;
    padding-top: 10%;
}

.answerText{
    background-color: #ffffff;
}

.nextButton {
    width: 94%;
}