<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="toolbar-wrapper">
        <div class="left-toolbar">
          <ion-icon class="back-arrow" name="arrow-back-outline"></ion-icon>
          Quiz
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title size="large">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!questionShow" class="wrapper-question">
    <div class="yellow">
      <h2>{{questionObject.question}}</h2>
      <button class="imageButton" (click)="showAnswer()"><img src="../../assets/imgs/carrot.png" width="100px" height="100px">
      </button>
      <button class="imageButton" (click)="showAnswer()"><img src="../../assets/imgs/apple.png" width="100px" height="100px">
      </button>
    </div>
</div>
<div *ngIf="scoreShow" class="wrapper-score">
  <div>
    <table>
      <tr>
        <th>Rang</th>
        <th>Name</th>
        <th>Punkte</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Luk</td>
        <td>41</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Nik</td>
        <td>36</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Jel</td>
        <td>32</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Tim</td>
        <td>27</td>
      </tr>
      <tr>
        <td>5</td>
        <td>abc</td>
        <td>15</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Han</td>
        <td>5</td>
      </tr>
    </table>
    
  </div>
  <div>
    <button (click)="showQuestion()">Start</button>
  </div>
</div>
<div *ngIf="!answerShow" class="wrapper-answer">
  <img class="centeredImage" src="../../assets/imgs/correct.png" width="100px" height="100px">
<div>
<h2>Richtig</h2>
<p>Pures Obst ist gesund und prinzipiell gut für den Körper. Trotzdem kann es wichtig sein, den Zuckergehalt von Obst im Auge zu behalten. Die Tabelle zeigt, wie viel Zucker und Kalorien in 100 Gramm verschiedener frischer Obstsorten stecken. </p>
<button>Weiter</button>
</div>

  </div>
</ion-content>