<div>
  <table>
    <tr>
      <th>Rang</th>
      <th>Name</th>
      <th>Punkte</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Luk</td>
      <td>41</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Nik</td>
      <td>36</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Jel</td>
      <td>32</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Tim</td>
      <td>27</td>
    </tr>
    <tr>
      <td>5</td>
      <td>abc</td>
      <td>15</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Han</td>
      <td>5</td>
    </tr>
  </table>
  
</div>
<div>
  <button (click)="toQuestion()">Start</button>
</div>
