/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.adjustable-button {
    height: 15.6vw;
    font-size: 5vw; 
    border-radius: 5px;
    text-transform: none;
}

ion-toolbar {
    --background: transparent;
    background-image: var(--gradient-top);
    color: var(--sugarly-color-background-comfortable);
}

.mat-slider-thumb {
	background-color: var(--ion-color-primary-shade) !important;
}

.mat-slider-thumb-label {
	background-color: var(--ion-color-primary) !important;
}

.mat-slider-track-fill {
	background-color: var(--ion-color-primary) !important;
}

.toolbar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.left-toolbar {
    display: inherit;
    justify-content: center;
    align-items: left;
    float: left;
}

.right-toolbar{
    position: absolute;
    max-width: 20%;
    right: 3%;
}

.back-arrow{
    padding-right: 15px;
}