<ion-slides>
  <ion-slide>
    <div class="slide">
      <table>
        <tr>
      <h2>Regler</h2>
      <img src="assets/img/anleitung2.png">
      <p>
        Mit den Slidern steuerst du die Menge an Kohlenhydrate, Insuli-Units oder die Bewegung pro Tag.
        <br> <br> Drücke dazu mit deinem Finger auf einen Punkt und ziehe diesen hin und her. 
      </p>
    </tr>
  </table>
    </div>
  </ion-slide>

  <ion-slide>
    <table>
      <tr>
        <h2>Kohlenhydrate</h2>
        <img src="assets/img/meal.png" style="width:50%" />
        <p>
          Mit dem <b>Kohlenhydrate</b>-Slider steuerst du die Anzahl Kohlenhydrate welche du zu dir nimmst.
        </p>
      </tr>
    </table>
  </ion-slide>

  <ion-slide>
    <table>
      <tr>
        <h2>Units</h2>
        <img src="assets/img/epipen.png" style="width:50%" />
        <p>
          Mit dem <b>Units</b>-Slider steuerst du die Menge an Insulin welche über deine Pumpe abgegeben wird.
        </p>
      </tr>
    </table>
  </ion-slide>

</ion-slides>