<ion-header>
  <ion-toolbar>
    <ion-title>Wechsle den Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatarSlider">
    <ion-slides #slider mode="android" scrollbar="android">
      <ion-slide *ngFor="let avatar of allAvatars | keyvalue">
        <ion-img [src]="avatar.value.getImageDefault()"></ion-img>
        <ion-label #slideName>{{avatar.value.getName()}}</ion-label>
      </ion-slide>
    </ion-slides>
   </div>
  <div class="buttonWrapper">
    <ion-button (click)="selectAvatar()">
      Ausw&auml;hlen
    </ion-button>
    <ion-button (click)="dismiss()">
      Abbrechen
    </ion-button>
  </div>
</ion-content>
